<ion-header class="ion-no-border">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/login"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <!-- <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#3ec783" fill-opacity="1" d="M0,32L1440,96L1440,0L0,0Z"></path></svg> -->
  <ion-segment [value]="valueSelected" (ionChange)="cambiar($event)">
    <ion-segment-button value="todos">
      <ion-label>Todos</ion-label>
    </ion-segment-button>
    <ion-segment-button value="true">
      <ion-label>Activos</ion-label>
    </ion-segment-button>
    <ion-segment-button value="false">
      <ion-label>inactivos</ion-label>
    </ion-segment-button>
  </ion-segment>
<ion-list lines="none">
  <ion-item *ngFor="let i of productos | filtrarproductos:valueSelected:'estado'">
    <ion-thumbnail slot="start">
      <img [src]="i.imagen" appImagen>
    </ion-thumbnail>
    <ion-label>
      <h3>{{i.nombre}}</h3>
      <p>{{i.descripcion | lowercase}}</p>
      <small>
        {{i.fechamod | date}} 
        <ion-icon *ngIf="i.estado" name="checkmark-circle" color="primary"></ion-icon>
        <ion-icon *ngIf="!i.estado" name="close-circle" color="danger"></ion-icon>
      </small>
    </ion-label>
    <ion-button color="secondary" fill="clear" slot="end" (click)="editarproducto(i.codproducto)">
      <ion-icon name="create" slot="icon-only"></ion-icon>
    </ion-button>
  </ion-item>
</ion-list>
<ion-fab vertical="bottom" horizontal="end"slot="fixed">
  <ion-fab-button (click)="addproducto()">
    <ion-icon name="add" style="color: #fff;"></ion-icon>
  </ion-fab-button>
</ion-fab>
</ion-content>
