<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button *ngIf="producto" [defaultHref]="linkback"></ion-back-button>
    </ion-buttons>
    <ion-title>Modificar producto</ion-title>
    <ion-toggle *ngIf="producto" color="primary" slot="end" [checked]="producto.estado" (ionChange)="cambiarEstadoProducto($event,producto.codproducto)" ></ion-toggle>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid fixed *ngIf="producto">
    <ion-row>
      <ion-col size="12" sizeSm="12" sizeMd="4" sizeLg="6">
        <div class="contimg">
          <!-- <img [src]="producto.imagen" alt="no se encontro la imagen"> -->

          <img [src]="producto.imagen" appImagen alt="imagen de anuncio" *ngIf="!urlImage">
          <img [src]="urlImage | async" alt="producto" *ngIf="urlImage | async">
          <br>
          <ion-progress-bar [value]="uploadPercent | async" *ngIf="uploadPercent"></ion-progress-bar>
          <input type="file" class="custom-file-input" size="3000" accept=".png, .jpg, .jpeg" (change)="uploadFile($event)">
        </div>
      </ion-col>
      <ion-col size="12" sizeSm="12" sizeMd="8" sizeLg="6">
        <form [formGroup]="formod" (submit)="modificar()">
          <ion-item>
            <ion-label position="stacked">Nombre*</ion-label>
            <ion-input name="nombre" formControlName="nombre"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="stacked">Precio*</ion-label>
            <ion-input name="precio" formControlName="precio" type="number"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="stacked">Descripcion*</ion-label>
            <ion-textarea name="descripcion" formControlName="descripcion"></ion-textarea>
            <!-- <ion-input name="descripcion" formControlName="descripcion"></ion-input> -->
          </ion-item>
          <ion-item>
            <ion-label position="stacked">peso*</ion-label>
            <ion-input name="cantidad" formControlName="cantidad"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="stacked">Unidad de Medida*</ion-label>
            <ion-select name="umedida" formControlName="umedida">
              <ion-select-option value="KG">Kilogramo</ion-select-option>
              <ion-select-option value="GR">Gramo</ion-select-option>
              <ion-select-option value="LB">Libra</ion-select-option>
              <ion-select-option value="OZ">Onza</ion-select-option>
              <ion-select-option value="L">Litro</ion-select-option>
              <ion-select-option value="ML">Mililitro</ion-select-option>
            </ion-select>
          </ion-item>
          <br>
          <ion-button expand="full" type="submit" [disabled]="formod.invalid">
            Actualizar
          </ion-button>
        </form>
        <input type="hidden" #ImageProducto [value]="urlImage | async">
      </ion-col>
    </ion-row>
<!--Skeleton-->
    <ion-row *ngIf="!producto">
      <ion-col size="12" sizeSm="12" sizeMd="4" sizeLg="6">
        <div class="contimg">
          <ion-skeleton-text [animated]="true" style="width: 200px; height: 200px;"></ion-skeleton-text>
        </div>
      </ion-col>
      <ion-col size="12" sizeSm="12" sizeMd="8" sizeLg="6">
        <ion-item>
          <ion-skeleton-text [animated]="true" style="width: 100%; height: 20px;"></ion-skeleton-text>
        </ion-item>
        <ion-item>
          <ion-skeleton-text [animated]="true" style="width: 100%; height: 20px;"></ion-skeleton-text>
        </ion-item>
        <ion-item>
          <ion-skeleton-text [animated]="true" style="width: 100%; height: 20px;"></ion-skeleton-text>
        </ion-item>
        <ion-item>
          <ion-skeleton-text [animated]="true" style="width: 100%; height: 20px;"></ion-skeleton-text>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

